# ===== LINE Messaging API =====
LINE_CHANNEL_SECRET=
LINE_CHANNEL_TOKEN=

# ===== LIFF =====
# LINE Developers ConsoleのLIFFタブで確認できるChannel ID
LIFF_CHANNEL_ID=
# 学習履歴画面用LIFF ID
LIFF_ID_HISTORY=
# 配信設定画面用LIFF ID
LIFF_ID_SETTINGS=